
<h1>Books</h1>


<div class="pages">
  <%= paginate @books %>
</div>


<div id="books" class="book-list">
  <% @books.each do |book| %>
  
    <div class="container-book">

    <%= render book %>
    <p>
      <%= link_to "Show this book", book, :class=>"btn btn-primary rounded-pill mt-2 m-1 " %>
    </p>
    </div>
  <% end %>  
</div>

